<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.bankecode.easyfilepicker">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application>
        <activity android:name=".ui.FilePickerActivity" android:theme="@style/MFP_BaseTheme"/>
    </application>
</manifest>
